#{extends 'main.html' /}
#{set htmlTitle:'Reply to comment' /}

<div class="dialog">
#{comment comment:comment/}
</div>

<div class="commentForm">

  #{form @Blog.deleteComment(comment.id)}
	<div class="section">
	<p>Delete the comment</p>
	<span class="error">
	  <input type="submit" value="Delete"/>
	</span>
	</div>
  #{/form}
	
  #{form @Blog.replyToComment(comment.id)}
	<div class="section">
	<p>Reply to the comment</p>
	<p>
	  #{field "content"}
	  <label for="content">Content</label>
	  <textarea id="content" name="${field.name}" rows="5" cols="50" class="${field.errorClass}">${flash['content']}</textarea>
	  #{/field}
	</p>
	<p>
	  <input type="submit" value="Reply"/>
	</p>
	</div>
  #{/form}

</div>
