#{extends 'main.html' /}
#{set htmlTitle:'Post Admin' /}
#{set 'moreScripts'}
<script src="@{'/public/ckeditor/ckeditor.js'}" type="text/javascript"></script>
#{/set}

#{if id != -1}
  #{form @Blog.deletePost(id)}
  <div class="section">
    <p>Delete post</p>
    <span class="error"><input type="submit" value="Delete"/></span>
  </div>
  #{/form}
#{/if}

#{form @Blog.putPost()}
<div class="section">
<p>Edit post</p>
<input name="id" type="hidden" value="${id}"/>
<p>
  #{field 'title'}
  <label for="title" class="${field.errorClass}">Title:</label>
  <input id="title" name="${field.name}" type="text" size="100" value="${title}"/>
  #{/field}
</p>
<p>
  #{field 'content'}
  <label for="content" class="${field.errorClass}">Content:</label>
  <textarea id="content" name="${field.name}" rows="100">${content}</textarea>
  #{/field}
</p>
<p>
  #{field 'tags'}
  <label for="tags" class="${field.errorClass}">Tag:</label>
  <input id="tags" name="${field.name}" type="text"" value="${tags}"/>
  #{/field}
</p>
<p><input type="submit" value="Submit"/></p>
<script type="text/javascript">
    editor = CKEDITOR.replace('content');
    if (!editor.getData()) {
        editor.setData(localStorage.getItem('postDraft'));
    }    
    autosaveInterval = window.setInterval(
		function(){
			localStorage.setItem('postDraft',editor.getData());
		}, 10000);    
</script>
</div>
#{/form}
